.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius:  5px;
    display: none;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    display: none;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
} 


.show-modal {
    display: block;
}

.list-group {
    display : none;
}

.main-bg {
    padding: 100px 20px;
    background: lightgray; 
}

.dark {
    background: black;
    color : white;
}